.main-button {
  width: 156px;
  height: 75px;
  border-radius: 5px;
  border: none;
  background-color: #dc780b;
  color: #ffffff;
}
.main-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.main-button_header {
  width: 155px;
  height: 46px;
}
.main-button_about {
  width: 142px;
  height: 42px;
}

.main-button_promo {
  width: 158px;
  height: 60px;
  margin-right: 30px;
}
.main-button_clear {
  border: solid 2px #dc780b;
  color: #dc780b;
  background-color: #fff;
}
