.contact-form__textarea {
  box-sizing: border-box;
  padding: 30px;
  width: 594px;
  height: 75px;
  font-size: 14px;
  line-height: 14px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  resize: none;
  color: rgba(21, 12, 1, 0.7);
}
